<header class="header-container">
  <div class="wrap">
    <img src="dist/img/marsbq_logo.png" alt="MarsBQ">
    <p>Unisciti a noi</p>
    <h2>Sabato 23 gennaio 2016</h2>

    <a class="btn" href="#">Registrati</a>
  </div>
</header>
